extends layout

block content
  h1= title
  p Welcome to #[em InventoryApp], a very basic inventory app built using express.

  hr
  
  p The inventory has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Categories:] !{category_count}
